/* Accordians */

.accordian {
    position: relative;
    margin-bottom: 30px;

    h4 {
        padding-right: 40px;
    }
}

.chevron-acc {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    border: 0;
    background-color: inherit;
    padding: 0;

    img {
        width: 24px;
    }
}

.content-acc {
    display: none;
    margin-top: 30px;
}