@import '../base/themes';

/* Buttons */

.primary-btn {
    background-color: $primary-color1-light;
    font-weight: bold;
}

.secondary-btn {
    border: 1px solid $primary-color1-light;
    font-weight: bold;
    background-color: white;
}

.inline-btn {
    color:  $primary-color1;
}