/* Crosslinks */

.crosslink {
    padding: 30px;
    min-height: 100px;
    margin-bottom: 1em;
    background-color: $primary-color1-light;

    h4 {
        color: $metrolinx-black;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .inner-grid-links {
        display: flex;
    }

    .crosslink {
        margin: 0 15px 0 15px;
        margin-bottom: 0;
    }

    .crosslink:first-child {
        margin: 0 15px 0 0;
    }

    .crosslink:last-child {
        margin: 0 0 0 15px;
    }
}