/* Breaks */

.heading-hr {
    height: 10px;
    border: 0;
    background-color: black;
    margin: 0;
    margin-top: 10px;
}

.blade-hr {
    height: 3px;
    border: 0;
    margin: 0;
    margin-top: 10px;
    background-color: black;
}