@import './base/themes';

/* Contact Footer */

.contact-footer {
    font-size: 20px;
    margin-bottom: 20px;

    .blade-hr {
        background-color: $divider-grey;
        margin: 0;
    }

    p {
        margin: 20px 0;
    }
}

/* Footer Icons */

.footer-icons {
    img {
        width: 27px;
        margin-right: 20px;
    }
}