.image-carousel-container {

    position: relative;

    button {
        padding: 0;
    }

    .left-arrow {
        position: absolute;
        left: 0px;
        top: calc(50% - 15px);
        background-color: transparent;
        height: 30px;

        img {
            height: 100%;
        }

        z-index: 1;
    }

    .right-arrow {
        position: absolute;
        right: 0;
        transform: rotate(180deg);
        top: calc(50% - 14px);
        background-color: transparent;
        height: 30px;

        img {
            height: 100%;
        }
        z-index: 1;
    }

    .carousel-img {
        display: none;

        h5 {
            margin-top: 10px;
        }

        a {
            font-size: 20px;
            font-weight: bold;
            color: $primary-color1;
        }

    }
    
    .carousel-img img {
        width: 100%;
    }
}