.modal-btn, .modal-img {
    background-color: $background-popup-grey;
    padding: 20px 30px;
    display: none;
    position: relative;

    .close-btn {
        position: absolute;
        top: 16px;
        right: 20px;
        border: 0;
        background-color: inherit;
        height: 14px;
        padding: 0;

        img {
            height: 100%;
        }
    }
}

.modal-btn {
    max-width: 450px;

    .button-layout {

        display: flex;
        flex-direction: column;

        h5, p {
            margin-bottom: 1.5em;
        }

        .primary-btn {
            min-height: 36px;
            width: 209px;
            font-size: 20px;
            align-self: center;
        }
    }
}

.modal-img {

    h5 {
        margin-bottom: 1em;
    }

    .img-layout {
        display: flex;

        img {
            height: 130px;
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .img-layout {
        flex-direction: column;

        img {
            height: 130px;
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}