.news-display {

    display: flex;
    justify-content: space-between;

    .news-block {
        padding: 20px 30px;
        background-color: $background-popup-grey;
        width: 40%;
        // max-width: 350px;

        h5 {
            color: $primary-color1;
            margin-bottom: 10px;
        }

        .flex-inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .news-display {
        flex-direction: column;

        .news-block {
            width: auto;
            margin-bottom: 1em;
        }
    }
}