.notification {
    border: 5px solid #B7DD79;
    padding: 30px;

    .heading {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            width: 35px;
            margin-right: 10px;
        }
    }
}