.page-tiles-display {
    .page-tile {
        height: 360px;
        border-top: 5px solid $primary-color1;
        padding-top: 30px;

        .tile-icon {
            margin-bottom: 30px;
            height: 60px;
        }

        h2 {
            color: $primary-color1;
            margin-bottom: 25px;
            min-height: 100px;
        }

        p {
            margin-bottom: 25px;
        }

        .details {
            position: relative;
            display: block;
            width: 100%;

            .chevron {
                position: absolute;
                width: 30px;
                transform: rotate(-90deg);
                right: 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .page-tiles-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .page-tiles-display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}