/* Tables */

.responsive-table {
    table {
        border-collapse: collapse;
    }
    
    th {
        font-size: 25px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        text-align: left;
        padding: 10px 40px 10px 10px;
    }
    
    th:first-child {
        border-left: none;
    }
    
    td {
        text-align: left;
        padding: 10px 10px 10px 10px;
    }
    
    .numeric-column {
        text-align: right;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-table {

        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            margin-bottom: 1em;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            position: relative;
            padding-left: 50%;
            padding-top: 0px;
        }

        td:before {
            /* Now like a table header */
            content: attr(data-label);
            position: absolute;
            /* Top/left values mimic padding */
            top: 5px;
            left: 1px;
            width: 30%;
            font-weight: bold;
        }

        td:after {
            content: '';
            position: absolute;
            width: 45%;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            left: 0;
            top: 0;
            height: 100%;
        }
    }
}