@import './base/themes';

/* Tabs */

.tab-flex {
    display: flex;
}

.tab-active {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid black;
    text-align: left;
    background-color: white;
    // add max width
}

.tab-nonactive {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid $primary-color1;
    text-align: left;
    background-color: $background-grey;
    color: $primary-color1;
    // add max-width
}

.tab-content {
    display: none;
}

.tab-content:first-child {
    display: block;
}

@media only screen and (min-width: 768px) {
    .tab-active, .tab-nonactive {
        font-size: 31px;
        padding: 13px 0 13px 23px;
    }
}