@import './base/themes';

/* Tooltips */

.tool-tip {
    max-width: 450px;
    padding: 30px;
    background-color: $background-popup-grey;
    display: none;
    position: relative;

    p {
        margin-top: 20px;
    }

    button {
        position: absolute;
        top: 16px;
        right: 20px;
        border: 0;
        background-color: inherit;
        height: 14px;
        padding: 0;

        img {
            height: 100%;
        }
    }
}

.tooltip-btn {
    background-color: inherit;
    height: 20px;
    padding: 0;

    img {
        height: 100%;
    }
}