@import '../base/themes';
@import '../base/fonts';

body {
    font-size: 16px;
    font-family: Avenir-Next;
    background-color: white;
}

button {
    border: 0;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

/* Headings */

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 31px;
    margin: 0;
}

h4 {
    font-size: 25px;
    margin: 0;
}

h5 {
    font-size: 20px;
    margin: 0;
}

h6 {
    font-size: 16px;
    margin: 0;
}