@font-face {
    font-family: Avenir-Next;
    src: url(../fonts/AvenirNextLTPro-Regular.ttf);
  }

  @font-face {
    font-family: Avenir-Next;
    src: url(../fonts/AvenirNextLTPro-Bold.ttf);
    font-weight: bold;
  }