@import '../base/themes';

.heading-hr {
    margin-bottom: 30px;
}

.image-carousel-layout {
    margin-bottom: 30px;
}

.notification {
    margin-bottom: 30px;
}

table {
    margin-bottom: 30px;
}

.modal-btn, .modal-img, .modal-show, .half-layout, .quarter-layout {
    margin: 30px 0;
}

.contact-footer-content {
    padding: 20px 0;

    img {
        height: 27px;
        margin-right: 10px;
    }

    h5 {
        display: inline;
    }
}