@import '../base/themes';

.text-block {
    background-color: $primary-color1-light;
    color: white;
}

.heading-hr {
    margin-bottom: 30px;
}

.news-display {
    margin-bottom: 50px;
}
.page-tile-header {
    margin-bottom: 15px;
}

.contact-footer-content {
    padding: 20px 0;

    img {
        height: 27px;
        margin-right: 10px;
    }

    h5 {
        display: inline;
    }
}