@import '../base/themes';

.heading-hr {
    background-color: $primary-color1-light;
}

.text-block {
    color: $primary-color1-light;
    background-color: $metrolinx-black;
}

.seb {
    margin-bottom: 50px;

    hr {
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 30px;
    }

    .accordian {

        h4 {
            color: $primary-color1;
            margin-top: 30px;
        }
    
        .blade-hr {
            background-color: $primary-color1-light;
        }
    }
}

.contact-footer {
    a {
        color: $primary-color1;
    }
}

.tab-active {
    min-width: 50%;
    margin-bottom: 30px;
}

.tab-nonactive {
    min-width: 50%;
    margin-bottom: 30px;
}