@import '../base/themes';

.heading-hr {
    background-color: $primary-color1-light;
}

.text-block {
    color: $primary-color1-light;
    background-color: $metrolinx-black;
}

.retirement-template {

    margin-bottom: 50px;
    
    .blade-hr {
        background-color: $primary-color1-light;
    }

    .quoted {
        position: relative;
        margin: 30px 0;
        padding: 0 40px;

        .mark-1 {
            left: 0;
            top: 0;
            position: absolute;
            font-size: 36px;
            font-weight: bold;
            line-height: 0;
        }

        .mark-2 {
            right: 0;
            bottom: 0;
            position: absolute;
            font-size: 36px;
            font-weight: bold;
            line-height: 0;
        }
    }

    .secondary-btn {
        margin-top: 40px;
        height: 54px;
        width: 326px;
        font-size: 20px;
    }
}

.tool-tip {
    margin-top: 20px;
}

.contact-footer {
    a {
        color: $primary-color1;
    }
}

.tab-active {
    min-width: 50%;
    margin-bottom: 30px;
}

.tab-nonactive {
    min-width: 50%;
    margin-bottom: 30px;
}