doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block title
			title Default title
		// Iclude any head elements here
		// include partials/head
		link(href='css/main.css', rel='stylesheet')
		block styles
	body
		.main-wrapper
			header
			main.grid-wrapper
				.item-1
					.header
						img(src="./assets/myHR_logo_white.png", alt="My HR Logo")
						.nav-btns
							button.primary-btn My Self Service
						button.mobile-menu-btn(onclick='toggleMenu()')
							img(src="./assets/mobile-menu.png", alt="mobile menu")
						button.mobile-close-btn(onclick='toggleMenu()')
							img(src="./assets/close-btn.png", alt="mobile menu")
				.item-2.hide
					.black-nav
						block black-nav
					.transparent-nav
						block transparent-nav
				.item-3
					block content-body
					.related-crosslinks
						h2 Related Links
						block inner-grid-links
					.contact-footer
						hr.blade-hr
						block contact-footer-content
						hr.blade-hr
					.footer-icons
						block footer-icons
			footer
		script(src="./javascript/accordians.js")
		script(src="./javascript/showHide.js")
		script(src="./javascript/tabs.js")
		script(src="./javascript/responsive-tables.js")
		script(src="./javascript/mobile-menu.js")
		script(src="./javascript/tiny-slider.js")
		script(src="./javascript/carousel.js")