doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		block title
			title Default title
		// Iclude any head elements here
		// include partials/head
		script(src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.14.0/js/okta-sign-in.min.js")
		link(href='css/main-login.css', rel='stylesheet')
		block styles
	body
		.main-wrapper
			header
				block header
			main
				block login
				block faq
			footer
				block footer
		
