@mixin display($property) {
    display: -ms-grid;
    display: $property;
}

@mixin grid-template-columns($property) {
    -ms-grid-columns: $property;
    grid-template-columns: $property;
}

@mixin grid-column($property1, $property2) {
    -ms-grid-column: $property1; 
    -ms-grid-column-span: $property2;
}

@mixin grid-row($property) {
    -ms-grid-row: $property;
    grid-row: $property;
}