extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/modal.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/components-test.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css', rel='stylesheet')

block black-nav
    +nav-item('Policies')
    +nav-item('Collective Agreements')
    +nav-item('Payroll Schedule')
    +nav-item('Resources & Toolkits')
    +nav-item('Your Voice')
    +nav-item('Ideas at Work')
    +nav-item("CHRO's Message")


block transparent-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block content-body
    h2 Image Carousels
    hr.heading-hr
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel0
            .carousel-img
                img(src="./assets/c1.jpg")
            .carousel-img
                img(src="./assets/c2.jpg")
            .carousel-img
                img(src="./assets/c4.jpg")
            .carousel-img
                img(src="./assets/c5.jpg")
            .carousel-img
                img(src="./assets/c6.jpg")
            .carousel-img
                img(src="./assets/c7.jpg")
            .carousel-img
                img(src="./assets/c9.jpg")
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel1
            .carousel-img
                img(src="./assets/c1.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c2.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c4.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c5.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c6.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c7.jpg")
                h5 Lorem Ipsum
            .carousel-img
                img(src="./assets/c9.jpg")
                h5 Lorem Ipsum
    .image-carousel-container
        button(data-controls="prev", tabindex="-1", aria-controls="tns1").left-arrow
            img(src="./assets/carousel-chevron.png")
        button(data-controls="next", tabindex="-1", aria-controls="tns1").right-arrow
            img(src="./assets/carousel-chevron.png")
        .image-carousel2
            .carousel-img
                img(src="./assets/c1.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c2.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c4.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c5.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c6.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c7.jpg")
                a(href="#") Lorem Ipsum
            .carousel-img
                img(src="./assets/c9.jpg")
                a(href="#") Lorem Ipsum
    h2 Notifications
    hr.heading-hr
    .notification
        .heading
            img(src="./assets/notification-bell.png")
            h5 Please Note
        .
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    h2 Tables
    hr.heading-hr
    .responsive-table         
        table
            thead
                tr
                    th I am…
                    th Without People Change Management…
                    th With People Change Management…
            tbody
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                tr
                    td An Exective Leader
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    td Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    h2 Modals
    hr.heading-hr
    div.modal-show
        button(onclick="show('m1')").primary-btn Show Modal
    +modal('Application Sent!', 'HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.', 'm1', 'OK', null)(id='m1')
    div.modal-show
        button(onclick="show('m2')").primary-btn Show Modal
    +modal('Application Sent!', 'HR will send you a letter to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.', 'm2', null, './assets/c8.jpg')(id='m2')
    h2 Extra Layouts
    hr.heading-hr
    .inner-grid.half-layout
        .media
            img(src="./assets/c8.jpg")
        .content
            h4 Confirmation
            .
                Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
    .quarter-layout
        .inner-grid
            .media
                img(src="./assets/c8.jpg")
            .content
                h4 Confirmation
                .
                    Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.
        p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave. No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice. Include a medical note from your doctor confirming your expected due date.

block contact-footer-content
    .contact-footer-content
        img(src="./assets/icon-thumbs.png", alt="icon")
        h5 17

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")

                