extends ../layout-home.pug
include ../utility/nav-item.pug
include ../utility/page-tile.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/home.css', rel='stylesheet')

block black-nav
    +nav-item('Policies')
    +nav-item('Collective Agreements')
    +nav-item('Payroll Schedule')
    +nav-item('Resources & Toolkits')
    +nav-item('Your Voice')
    +nav-item('Ideas at Work')
    +nav-item("CHRO's Message")


block transparent-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block content-body
    .text-block
        h4 Welcome to your home for everything work.
    h2 What's new
    hr.heading-hr
    .news-display
        .news-block
            h5 New guidelines for workplace harassment prevention Information
            .flex-inner
                a(href="#").inline-btn Health & Safety
                p Mar 20, 2019
            .
                At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
        .news-block
            h5 Pension plans and policies set for revisions mid-2019
            .flex-inner
                a(href="#").inline-btn Pay & Benefits
                p Feb 16, 2019
            .
                At Metrolinx, we workplace harassment very seriously. Lorem ipsum dolor sit eiusmod tempor…
    h2.page-tile-header How can we help?
    .page-tiles-display
        +page-tile('./assets/pay-benefits.png', 'My Pay & Benefits', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/career.png', 'My Career', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/health.png', 'My Health & Wellness', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/inclusion.png', 'Inclusion & Engagement', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/learning.png', 'Learning', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')
        +page-tile('./assets/action.png', 'Self Service', 'Two line description - (16px) Lorem Ipsum is simply dummy text of the…', '#')

block contact-footer-content
    .contact-footer-content
        img(src="./assets/icon-thumbs.png", alt="icon")
        h5 17

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")

                