extends ../layout-login.pug
include ../utility/accordian-mixin.pug

block title
    title Index page | Example of extending blocks

block header
    .login-header
        .top
            a(href="http://www.metrolinx.com/en/default.aspx")
                img(src="./assets/mx-wordmark.png", alt="metrolinx logo").logo

block login
    .login-flex
        .login-img
            img(src="./assets/remote_access_img.png", alt="metrolinx employees")
        .login-form
            h2 Portail d'accès à distance <br/>pour les employés de Metrolinx
            hr.heading-hr
            p Ce portail offre à nos employés un moyen pratique et sécurisé d’avoir accès à des informations à l’extérieur de Metrolinx.
            p Quels services sont accessibles par ce portail? Présentement, un des services accessibles par ce portail est le Libre-Service des RH.
            p Après vous être connecté et avoir choisi votre destination, vous recevrez un code d'accès sur votre appareil mobile. Ceci fait partie de notre protocole de sécurité amélioré pour garder vos renseignements sécurisés. Cliquez simplement sur « Envoyer code », entrez le code une fois que vous l’aurez reçu et validez pour continuer votre destination.
            #widget-container
            p.okta-issue Problèmes techniques? Si vous avez des problèmes à accéder au portail, communiquez avec le service d'assistance d’I et TI au 416 202-5000.

block faq
    .faq-wrapper
        h2 Foire Aux Questions
        hr.heading-hr
        h4 Qui peut accéder à ce portail?
        hr.blade-hr
        p Les employés actuels de Metrolinx (à temps plein et à temps partiel) peuvent accéder à ce portail.
        h4 Lors de votre première connexion au portail, ce que vous devez savoir :
        hr.blade-hr
        p.
            Vous recevrez un SMS (texte) sur votre appareil mobile afin de terminer le processus d'inscription pour activer l'authentification à plusieurs facteurs de votre compte. Un code d'accès unique sera envoyé au numéro que vous avez entré.  <br /><br />

            Pensez à sauvegarder le lien dans vos favoris pour un accès futur.<br /><br />

            Avez-vous des questions?  Les employés de Metrolinx peuvent communiquer avec le centre d’appel informatique au 416 202-5000.<br /><br />

            Lorsque vous avez terminé d’utiliser le Libre-Service des RH, assurez-vous de vous déconnecter et de fermer tous les navigateurs. 

block footer
    .footer-wrapper
        .footer-links
            a(href="http://www.metrolinx.com/fr/aboutus/privacy.aspx") Vie privée
            a(href="http://www.metrolinx.com/en/aboutus/terms_conditions.aspx") Modalités et conditions
    .copyright-wrapper
        div.copyright
            a(href="#")
                img(src="./assets/arrow-top-footer.png", alt="up arrow")
            div Copyright &copy; Metrolinx 2019
        p.contact-info 97 Front Street West, Toronto, ON  M5J 1E6, Téléphone: 416-874-5900
    script(src="./javascript/okta_fr.js")