extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/crosslink.pug
include ../utility/accordian-mixin.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/leaveOfAbsence.css', rel='stylesheet')

block black-nav
    +nav-item('Leaves of Absence')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Pay')

block transparent-nav
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')

block content-body
    h2 Pregnancy & Parental Leave
    hr.heading-hr
    .text-block
        h4 Lorem ipsum dolor sit amet, consectetur adipiscingm.
    .overview
        h4 Overview
        hr.blade-hr
        .
            All pregnant employees who have 13 weeks or more of service are eligible for Pregnancy Leave in conjunction with the requirements of the Employment Standards Act, 2000. This leave includes up to 17 weeks of Pregnancy Leave.
            Birth mothers who take Pregnancy Leave are entitled to up to 35 weeks of unpaid Parental Leave. A biological father or adopted parents can take up to 37 weeks of unpaid time off work.
        br
        .
            In order to prepare for your leave, please use the&nbsp;
        a(href="#").inline-btn Employee Checklist
        .
            &nbsp;for a listing of tasks that will need to be completed prior to your leave.
    .seb
        h4 Supplemental Employment Benefit (SEB)
        hr.blade-hr
        p Metrolinx offers a Pregnancy Supplemental Employment Benefit for full time non-union employees who have completed at least one (1) year of regular full-time service, and who are in receipt of Employment Insurance benefits.
        div
            .tab-flex
                button(onclick="onTabClick(event, 'tab1')").tab-active Pregnancy SEB
                button.tab-nonactive(onclick="onTabClick(event, 'tab2')") Parental SEB
            div
                .tab-content#tab1
                    .
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Lectus quam id leo in. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Posuere urna nec tincidunt praesent semper feugiat nibh.
                    .accordian
                        +accordian("Steps to follow before Leave", 'green')
                        .content-acc.layout-stacked-half
                            .inner-grid 
                                .item1
                                    .media
                                        h2 1
                                    h4 Notification
                                    p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.
                                    h5 When
                                    .
                                        No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                                .item2
                                    .media
                                        h2 2
                                    h4 Attestation
                                    p Include a medical note from your doctor confirming your expected due date.
                .tab-content#tab2
                    .
                        Eligible employees who receive the Pregnancy SEB allowance will be paid as follows:
                    br
                    ul
                        li For the first two (2) weeks of the Employment Insurance Pregnancy benefit period (the waiting period), ninety-three percent (93%) of regular weekly salary.
                        li For up to a maximum of fifteen (15) additional weeks, the difference between ninety-three percent (93%) of regular weekly salary and the sum of the weekly Employment Insurance Pregnancy benefit.
                    .accordian
                        +accordian("Steps to follow before Leave", 'green')
                        .content-acc.layout-stacked-quarter
                            .inner-grid 
                                .item1
                                    .media
                                        h2 1
                                    h4 Notification
                                    p Notify your manager in writing with a copy to Human Resources of the date on which you wish the leave to begin and your intention to return to work  at the end of the leave.
                                    h5 When
                                    .
                                        No later than 4 weeks before the leave commences or as soon as practicable if unable to give 4 weeks' notice.
                                .item2
                                    .media
                                        h2 2
                                    h4 Attestation
                                    p Include a medical note from your doctor confirming your expected due date.
                                .item3
                                    .media
                                        h2 3
                                    h4 Confirmation
                                    p You will receive a letter from HR to confirm your Pregnancy and/or Parental Leave dates, pension & benefit details and an Authorization for Benefit Deductions form, if applicable.
                                .item4
                                    .media
                                        h2 4
                                    h4 Form Submission
                                    p 
                                        .
                                            Complete and submit the Authorization for Benefit Deductions / Cancellation Form to:
                                        br
                                        .
                                            HR Coordinator
                                        br
                                        .   
                                            Metrolinx, Human Resources
                                        br
                                        .
                                            97 Front Street West
                                        br
                                        .   
                                            Toronto, ON M5J 1E6
                                    h5 When
                                    .
                                        Before the last day of work prior to your leave, or as soon as possible after your leave begins.

                            



block inner-grid-links
    .inner-grid-links
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')

block contact-footer-content
    p
        a(href="#") Contact HR

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")
