extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/crosslink.pug
include ../utility/overview.pug
include ../utility/accordian-mixin.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/retirement-acc.css', rel='stylesheet')

block black-nav
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Employee Support Program')
    +nav-item('Leaves of Absence')
    +nav-item('Employee Pay')

block transparent-nav
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')

block content-body
    h2 My Pay & Benefits
    hr.heading-hr
    .text-block
        h4 Your Pay & Benefits, explained.
    .overview
        +overview('Overview')
        .
            At Metrolinx, we provide a competitive and comprehensive total compensation package that recognizes the needs of a contemporary workforce by supporting employee security, protecting them against financial hardship due to illness, and continuing to support them in their retirement years. This includes for eligible employees:
        br
        ul
            li A full benefits package, including an employee and family assistance program;
            li Health and Wellness opportunities;
            li An OMERS pension plan;
            li Learning and career development support, including tuition assistance and professional development.
        .
            This site is to assist in all your common questions regarding Pay & Benefits. This summary highlights key features for each of these benefits programs. For more infomation, you may also visit 
            
        a(href="#") Collective Agreements           
        .
            or your         
        a(href="#") HR Policy & Procedure Manual
            br 



    .accordian
        +accordian('Benefits', 'green')
        .content-acc
            .
                Hello here are random words
            br
            ul
                li Claims
                li Coordination of Benefits
                li Changes to Benefits Profile
                li Travel Coverage
                li Employee Assistance Program
                li Vacation
                li Business Days
                li Doctor/Dentist Days
                li Shortened Life Expectancy STSP
                li LTSP
                li Forms ad Booklets
                li Frequently Asked Questions
    .accordian
        +accordian('Pension', 'green')
        .content-acc
            .
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper vitae lacus lacinia congue. Proin aliquet nec diam et ultrices. Pellentesque venenatis ante nec leo tempor, vitae varius erat aliquam. Curabitur lobortis tincidunt libero. Nam ac eros est. Proin facilisis ligula eget gravida lacinia. Aenean pretium ipsum eu urna rutrum, nec semper purus placerat. Phasellus ex sem, tincidunt eu lectus a, sagittis facilisis mi. Pellentesque ac cursus orci.     .accordian
            br
    .accordian
        +accordian('Employee Support Program', 'green')
        .content-acc
            .
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper vitae lacus lacinia congue. Proin aliquet nec diam et ultrices. Pellentesque venenatis ante nec leo tempor, vitae varius erat aliquam. Curabitur lobortis tincidunt libero. Nam ac eros est. Proin facilisis ligula eget gravida lacinia. Aenean pretium ipsum eu urna rutrum, nec semper purus placerat. Phasellus ex sem, tincidunt eu lectus a, sagittis facilisis mi. Pellentesque ac cursus orci.     .accordian
            br
    .accordian
        +accordian('Leaves of Absence', 'green')
        .content-acc
            .
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper vitae lacus lacinia congue. Proin aliquet nec diam et ultrices. Pellentesque venenatis ante nec leo tempor, vitae varius erat aliquam. Curabitur lobortis tincidunt libero. Nam ac eros est. Proin facilisis ligula eget gravida lacinia. Aenean pretium ipsum eu urna rutrum, nec semper purus placerat. Phasellus ex sem, tincidunt eu lectus a, sagittis facilisis mi. Pellentesque ac cursus orci.     .accordian
            br
    .accordian
        +accordian('Employee Pay', 'green')
        .content-acc
            .
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper vitae lacus lacinia congue. Proin aliquet nec diam et ultrices. Pellentesque venenatis ante nec leo tempor, vitae varius erat aliquam. Curabitur lobortis tincidunt libero. Nam ac eros est. Proin facilisis ligula eget gravida lacinia. Aenean pretium ipsum eu urna rutrum, nec semper purus placerat. Phasellus ex sem, tincidunt eu lectus a, sagittis facilisis mi. Pellentesque ac cursus orci.     .accordian
            br
    .linkIcon
        img(src="./assets/link-icon.png", alt="link icon")    
        a(href="#") Link to site
    .linkIcon
        img(src="./assets/pdf-link-icon.png", alt=" pdf icon")
        a(class='linkIcon' href="#") Link to PDF
    .linkIcon
        img(src="./assets/video-link-icon.png", alt="video icon")
        a(href="#") Link to Video
    br
            
block inner-grid-links
    .inner-grid-links
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')

block contact-footer-content
    p
        a(href="#") Contact HR

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")
