extends ../layout.pug
include ../utility/nav-item.pug
include ../utility/crosslink.pug
include ../utility/overview.pug
include ../utility/tooltip.pug

block title
    title Index page | Example of extending blocks

block styles
    link(href='css/pages/retirement.css', rel='stylesheet')

block black-nav
    +nav-item('Estimate')
    +nav-item('Vacation Bank')
    +nav-item('Financial Advice')
    +nav-item('Benefits')
    +nav-item('Pension')
    +nav-item('Pension Top-Up')
    +nav-item('Additional Information')
    +nav-item('Picking a Retirement Date')
    +nav-item('Start the Retirement Process')
    +nav-item('Retirement Notice Template')


block transparent-nav
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')
    +nav-item('Lorem Ipsum')

block content-body
    h2 Thinking about retirement?
    hr.heading-hr
    .text-block
        h4 Learn how to 'clock out' for the last time.
    .overview
        +overview('Overview')
        .
            Whether you are looking to retire or have set a retirement date, the below information will provide you with tips to consider when preparing for the big day!
    .overview
        +overview('Estimate')
        .
            If you have a target retirement date in mind, you can contact the pension boards you are affiliated with and request an estimate for that specific date. If you are eligible for the pension top-up, you can submit those estimates to HR Services and we can send it to our administrator to calculate your top up entitlement (if any). This will give you an idea of how much you will be receiving for your pension and what you can expect to see from your top-up.
    .overview
        +overview('Vacation Bank')
        .
            When setting your retirement date, it is also important to determine your “last day worked”. In some cases, they would be the same date. However, there are instances where employees have a large vacation bank that they having the option of using to “bridge to retirement”. It’s important to check how much vacation time you have and decide if you’d like to use it to bridge. This information can be roughly determined by HR Services but, for a more precise calculation, you can contact Payroll. If you decide not to use it, it will be paid out to you.
    .overview
        +overview('Financial Advice')
        .
            It is important to note that the HR Service Coordinators are not financial advisors, therefore, they cannot give you recommendations on when to retire or provide any financial advice. You will need to seek out an advisor. A financial advisor can be sought out through financial institutes and even our EFAP (free for all Metrolinx employees to use):
        br
        a(href="#").inline-btn http://mylinx/sites/HR/en/Health/Pages/Employee-Assistance-Program.aspx
    .overview
        +overview('Benefits')
        .
            Benefits are determined by length of employment and employment start date. For more details, you can refer to Article B2.0 in your Collective Agreement (for ATU and IAM) or our Non-Union policy on MyLinx:
        br
        a(href="#").inline-btn http://mylinx/sites/Finance/en/Records/Manuals/HR%20Policies%20by%20name/HR-0208-07P%20Retirement%20Benefits.pdf
    .overview
        +overview('Pension')
        .
            Your pension start date is the first day of the following month in which you retire. For example, if you retire on March 31st, you pension will start on April 1st.
    .overview
        +overview('Pension Top-Up')
        .
            For those eligible for the top-up, please allow 2-3 months following your retirement to receive your top-up statement and another 2-3 months to begin receiving your payment (if entitled). Initial payments will be retro as a result of the lengthy delay.
            Your pension start date is the first day of the following month in which you retire. For example, if you retire on March 31st, you pension will start on April 1st.
        button(onclick="show('tt1')").tooltip-btn
            img(src="./assets/tooltip.png", alt="show tooltip")
        +tooltip('Please Note', 'Not all employees entitled to a payment will get the option of receiving a lump sum or a monthly payment. This depends on what the final amount is. If the amount is below 4% of the YMPE, the retiree would be eligible for both options. If the amount is higher, they will only receive the monthly option.', 'tt1')(id="tt1")
    .overview
        +overview('Additional Information')
        .
            - OMERS provides some great info on their site on retirement so you may want to check it out!
        br
        a(href="#").inline-btn http://mylinx/sites/Finance/en/Records/Manuals/HR%20Policies%20by%20name/HR-0208-07P%20Retirement%20Benefits.pdf
        br
        br
        .
            - Although the federal pension plans are not administered through Metrolinx, this link can be useful to you as you start to initiate the pension process through Service Canada:
        br
        a(href="#").inline-btn http://www.servicecanada.gc.ca/eng/lifeevents/retirement.shtml
    .overview
        +overview('Picking a Retirement Date')
        .
            Your retirement date must fall on a paid working day during your normal work week. For example, if you work Monday-Friday, you cannot retire on a Saturday. 
    .overview
        +overview('Start the Retirement Process')
        .
            Once you set a date (both retirement date and last day worked), you must notify your manager and HR Services (see contact info below). Your notice can be sent via mail or e-mail. Either way, the notice must have your signature on it. If you are unsure of how to structure your notice, we’ve included a standard template below for your reference/use. Once this is submitted, HR initiates the retirement process and 1-2 months prior to your retirement date, we send you your package of paperwork.<br />
            <b>***Please note that much of this paperwork can only be processed after your departure and there will be delays in your first OMERS pension payment.</b>
    .retirement-template
        h3 Retirement Notice Template
        hr.blade-hr
        .quoted
            .mark-1 “
            .
                RE: Retirement Notice<br/>

                To Whom It May Concern:<br/>
                <br />
                After careful consideration, I have decided to retire from Metrolinx.<br />
                My retirement date will be {insert date}.<br />
                - I will use my vacation up until my retirement date; therefore, my last working day will be {insert date if applicable}.<br />
                - I will not be using my vacation and would like the remainder paid out to me<br />
                I would like my retirement package to be sent to my {choose one: home location or work location}.<br />
                If you have any questions or concerns, I can be reached at {enter phone number and/or e-mail address}.<br />
                <br />
                Thank you,<br />
                {Enter signature, name and employee number}
            .mark-2 “
        p.
            There are a number of things to consider when planning your retirement. Hopefully this document has acted as a guide for you as you embark on this new journey. If you have any further questions, do not hesitate to contact HR Services. We would be happy to assist you. 
            <br /><br />
            HR Services<br />
            97 Front Street West<br />
            Toronto, ON<br />
            M5J 1E6<br />
            hrservices@metrolinx.com<br />
        button.secondary-btn Submit Retirement Request


block inner-grid-links
    .inner-grid-links
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')
        +crosslink('Crosslink 1', 'Two line description - (16px) Lorem Ipsum is simply dummy text…')

block contact-footer-content
    p
        a(href="#") Contact HR

block footer-icons
    .footer-icons
        img(src="./assets/icon-bell.png", alt="bell icon")
        img(src="./assets/icon-tag.png", alt="bell icon")
