@import '../abstracts/mixins';

/* Grid */

.grid-wrapper {
    padding: 20px 15px;
    position: relative;

    .item-1, .item-2, .item-3 {
        background-color: white;
    }
    
    .item-2 {
        position: absolute;
        height: 100vh;
        z-index: 1;
    }

    .show {
        right: 15px;
        left: 15px;
        animation: slideInLeft .5s ease-in;
    }

    .hide {
        right: -100%;
        left: 100%;
        animation: slideOutLeft .5s ease-out;
    }
}

@keyframes slideInLeft {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}

@media only screen and (min-width: 1025px) {
    .grid-wrapper {
        @include display(grid);
        @include grid-template-columns(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
        grid-column-gap: 30px;
        padding: 20px 15px;
    
        .item-1 {
            @include grid-column(1,12);
            @include grid-row(1);
            grid-column: 1/13;
        }
        
        .item-2 {
            display: block;
            position: relative;
            width: auto;
            height: auto;
            padding: 0;
            @include grid-column(1,3);
            @include grid-row(2);
            grid-column: 1/4;
        }
        
        .item-3 {
            @include grid-column(4,7);
            @include grid-row(2);
            grid-column: 4/12;
        }

        .hide {
            animation: none;
            left: auto;
            right: auto;
        }
    }

}