
@import '../base/themes';

.header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 83px;
    }

    .nav-btns {
        position: relative;
        font-size: 20px;

        .primary-btn {
            width: 210px;
            height: 55px;
        }
    }

    .mobile-menu-btn {
        display: none;
    }

    .mobile-close-btn {
        display: none;
        height: 30px;

        img {
            height: 100%;
        }
    }

    .reveal {
        display: block;
    }

    .hide {
        display: none!important;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        .mobile-menu-btn {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        img {
            height: 50px;
        }

        .nav-btns {
            .primary-btn {
                font-size: 16px;
                width: 165px;
                height: 45px;
            }
        }
    }
}