/* Layouts */

.inner-grid {
    h4 {
        margin-bottom: 8px;
        color: black!important;
    }
}

.half-layout {

    .media {
        img {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    
    .content {
        h4 {
            margin-bottom: 10px;
        }
    }
}

.quarter-layout {

    .inner-grid {
        margin-bottom: 10px;

        .media {
            img {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }
}

.layout-stacked-half {

    .media {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    h4, h5 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
    }

    .item1, .item2 {
        margin-bottom: 2em;
    }
}

.layout-stacked-quarter {

    .media {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    h4, h5 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
    }

    .item1, .item2, .item3, .item4 {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 768px) {
    .inner-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        h4 {
            margin-bottom: 8px;
            color: black!important;
        }
    }
    
    .half-layout {
    
        .media {
            grid-column: 1/5;

            img {
                margin-bottom: 0;
            }
        }
        
        .content {
            grid-column: 5/9;
        }
    }
    
    .quarter-layout {
    
        .inner-grid {
            margin-bottom: 10px;
    
            .media {
                grid-column: 1/3;

                img {
                    margin-bottom: 0;
                }
            }
        
            .content {
                grid-column: 3/9;
            }
        }
    }
    
    .layout-stacked-half {
    
        .inner-grid {
            .item1, .item2 {
                margin-bottom: 0;
            }
            .item1 {
                grid-column: 1/5;
            }
            .item2 {
                grid-column: 5/9;
            }
        }
    }
    
    .layout-stacked-quarter {
    
        .inner-grid {
            .item1, .item2, .item3, .item4 {
                margin-bottom: 0;
            }
            .item1 {
                grid-column: 1/3;
            }
            
            .item2 {
                grid-column: 3/5;
            }
    
            .item3 {
                grid-column: 5/7;
            }
    
            .item4{
                grid-column: 7/9;
            }
        }
    }
    
}