/* Common Styles */

.heading-hr {
    margin-bottom: 20px;
}

.text-block {
    margin-bottom: 40px;
    padding: 50px 0 50px 31px;
}

.overview {
    margin-bottom: 40px;
    hr {
        margin-bottom: 30px;
    }
}

.related-crosslinks {
    margin-bottom: 40px;
    
    h2 {
        margin-bottom: 20px;
    }
}