@import '../base/themes';

/* Left Hand Navigation */

.black-nav {
    padding: 30px 20px;
    background-color: $metrolinx-black;
    color: white;
    margin-bottom: 50px;

    a {
        color: white;
    }

    h3 {
        margin-bottom: 16px
    }

    h5 {
        margin-bottom: 16px
    }
}

.transparent-nav {

    padding: 25px 15px;
    border: 5px solid $primary-color1-light;

    a {
        color: $primary-color1;
    }

    h3 {
        margin-bottom: 16px
    }

    h5 {
        margin-bottom: 16px
    }
}