mixin modal(title, content, id, button, image)
    
    if button
        .modal-btn&attributes(attributes)
            div.button-layout
                h5= title
                button(onclick=`hide('${id}')`).close-btn
                    img(src="./assets/close-btn.png", alt="modal close")
                p= content
                button(onclick=`hide('${id}')`).primary-btn= button
    else if image
        .modal-img&attributes(attributes)
            h5= title
            button(onclick=`hide('${id}')`).close-btn
                img(src="./assets/close-btn.png", alt="modal close")
            .img-layout
                img(src=image)
                p= content