mixin page-tile(src, head, body, link)
    .page-tile
        img(src=`${src}`, alt="icon").tile-icon
        h2= head
        p= body
        a(href=`${link}`).inline-btn.details
            .
                Details
            img(src="./assets/chevron-green.png").chevron 