mixin tooltip(title, body, id)
    .tool-tip&attributes(attributes)
        button(onclick=`hide('${id}')`)
            img(src="./assets/close-btn.png", alt="modal close")
        h5= title
        hr.blade-hr
        p= body