@import './base/normalize';
@import './base/common';
@import './components/accordians';
@import './components/buttons';
@import './components/dividers';


.main-wrapper {
    padding: 0 15px;
    max-width: 1444px;
    min-width: 992px;
    margin: auto;
}

.login-header {
    margin-bottom: 30px;

    .top {
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            margin: 20px 10px 10px 35px
        }
    }

    .bottom {
        background-color: #ECECEC;
        height: 100px;
    }
}

.login-flex {

    display: flex;
    margin-bottom: 50px;

    .login-img {
        width: 50%;
    
        img {
            max-width: 100%;
            max-height: 690px;
        }
    }

    .login-form {
        padding: 0 8% 0 30px;
        width: 50%;

        .heading-hr {
            background-color: #8BB8E8;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            color: #6787B7;
        }

        #widget-container {
            margin-bottom: 10px;
        }

        .okta-form-title {
            display: none;
        }

        .okta-form-infobox-error.infobox.infobox-error,  .okta-form-input-error.o-form-input-error.o-form-explain{
            font-size: 14px;
            color: #E5554F; 
        }

        #okta-signin-username, #okta-signin-password, .o-form-input-name-username.o-form-control.okta-form-input-field.input-fix input {
            border: 0;
            width: 100%;
            border-bottom: 3px solid #6787B7;
            padding-bottom: 10px;
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .o-form-input.o-form-has-errors {
            #okta-signin-username, #okta-signin-password {
                border-color: #E5554F;
                margin-bottom: 10px;
            }
        }

        .custom-checkbox {
            display: none;
        }

        .link.help.js-help {
            display: none;
        }

        #okta-signin-submit {
            width: 100%;
            height: 58px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border: 0;
            background-color: #8BB8E8;
            margin-bottom: 15px;
        }

        .button.button-primary.button-wide.email-button.link-button {
            width: 100%;
            padding: 20px 0;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border: 0;
            background-color: #8BB8E8;
            color: black;
            margin-bottom: 15px;
            display: block;
            text-decoration: none;
        }

        .link.help.js-help {
            color: #6787B7;
        }

        .help-links.js-help-links {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-top: 10px;
        }
    }
}

.faq-wrapper {
    padding: 0 8%;
    margin-bottom: 80px;

    .heading-hr {
        margin-bottom: 40px;
    }

    h4 {
        color: #6787B7;
    }
        
    .blade-hr {
        background-color: #6787B7;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 40px;
    }
}

.footer-wrapper {
    border-top: 1px solid #c3c3c3;
    height: 55px;
    padding: 0 30px;

    .footer-links {
        height: 25px;
        margin: 15px 10px;
        display: flex;
        justify-content: flex-start;

        a {
            color: black;
            text-decoration: none;
            margin-right: 20px;
        }

        a:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.copyright-wrapper {
    height: 32px;
    background-color: black;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin-right: 10px;
    }

    .copyright {
        display: flex;
        align-items: center;
    }

    .contact-info {
        margin-right: 30px;
    }
}